<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>View Deadlines</title>
    <!-- Bulma CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/bulma@0.9.2/css/bulma.min.css"
    />
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class="title">Upcoming Deadlines</h1>

        <table class="table is-fullwidth is-striped">
          <thead>
            <tr>
              <th>Company/Program</th>
              <th>Deadline</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {% for deadline in deadlines %}
            <tr>
              <td>{{ deadline.company_name }}</td>
              <td>{{ deadline.deadline.strftime('%Y-%m-%d') }}</td>
              <td>{{ deadline.status }}</td>
              <td>
                {% if deadline.status != 'Submitted' %}
                <form
                  method="POST"
                  action="{{ url_for('submit_application', index=loop.index0) }}"
                >
                  <button class="button is-primary" type="submit">
                    Mark as Submitted
                  </button>
                </form>
                {% else %} Already Submitted {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <a href="/" class="button is-light">Go Back Home</a>
      </div>
    </section>
  </body>
</html>
